<div style=
"width: fill_parent;
height: 700px;
display: flex;
flex-direction: column;
background-color: bisque;
align-items: center;
justify-content: center;
">
  <h1 *ngIf="authService.user | async">Hello {{(authService.user | async)?.email}}!</h1>
  <button (click)="logout()" *ngIf="authService.user | async">Log-out</button>
  <div *ngIf="!(authService.user | async)"
  style="display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;">

    <img style="width: 200px;"src="../assets/logo.png"/>
    <input type="text" placeholder="Email" [(ngModel)]="email"/>
    <input type="password" placeholder="Password" [(ngModel)]="password"/>

    <button (click)="signup()" [disabled]="!email || !password">Sign-up</button>
    <button (click)="login()" [disabled]="!email || !password">Login</button>


    <input style="width: 600px;" [(ngModel)]="link" type="text" placeholder="Task 3 website link for an about page (https://flinks.io/about/, https://www.konrad.com/about, etc...)">
    <button (click)="getCompanyName()" [disabled]="!link">Find Company Name</button>
    <h3>Company Name : {{companyName}}</h3>

  </div>



<div>
